.about {
    min-height: 85vh;
    width: 100%;
}

.about > .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    background-color: var(--dark-color);
    padding: 0 1rem;
}


.about h1 {
    background: -webkit-linear-gradient(#F5DE7A, #FBFFFE);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.about p {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.about h2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.about-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../components/images/cafe.jpg") center/cover no-repeat;
    height: 50vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0 2rem;
    justify-content: center;
    background-color: var(--dark-color);
}

.about-link {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

.about-link:hover {
    color: var(--yellow-color);
    transition: 0.3s ease-in;
    text-decoration: underline;
}

@media (max-width: 760px) {
    .about > .container {
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
    }

    .about-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }

    .about-image {
        width: 100%;
        margin: 1rem 0;
    }
}
